{% extends "supermarket/layout1.html" %}
{% block content %}
  <center>
    <h2>Change Password</h2>
    <pre><form method="POST" action="{% url 'change_password' %}">
      {% csrf_token %}
      <br>
      Current Password : 
      <input name="origin_password" type="password">
      <br><br>
      New Password :
      <input name="new_password" type="password">
      <br><br>
      New Password Confirmation : 
      <input name="confirm_password" type="password">
      <br><br>
      <input class="button-62" type="submit" value="Change"> 
    </form></pre>
  </center>
{% endblock %}